<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EBM-NLP demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>EBM-NLP demo</h1>
        <p class="lead">Identify Patients, Interventions and Outcomes from an RCT abstract with Named Entity Recognition (NER).</p>
      </div>
    </div>

    <div class="container">
      <form class="form-horizontal" method="POST", action="/predict">
        <textarea class="form-control" name="abstract" rows="10" placeholder="Input an RCT abstract"></textarea>
        <div class="form-check">
          {% if cuda_is_available %}
            <input class="form-check-input" name="use_cuda" value="True" id="use_cuda" type="checkbox"/ checked="checked">
            <label class="form-check-label" for="use_cuda">Use GPU</label>
          {% else %} 
            <input class="form-check-input" name="use_cuda" value="True" id="use_cuda" type="checkbox"/ disabled>
            <label class="form-check-label" for="use_cuda">Use GPU</label>
          {% endif %}
        </div>
        <div class="">
          <input class="btn btn-primary" value="Submit" type="submit"/>
        </div>
      </form>
    </div>
 
    <div class="container">
      {% if show_legend %}
        <p>
          <span style='color:#dc143c'>■</span> Patient
          <span style='color:#4169e1'>■</span> Intervention
          <span style='color:#ff8c00'>■</span> Outcome
        </p>
      {% endif %}
      <p>
        {% for tag in tagging %}
          {% if tag[0] == 'O' %}
            <span style='color:#999999'>{{ tag[1] }}</span>
          {% elif tag[0] == 'I-P' %}
            <span style='color:#dc143c'>{{ tag[1] }}</span>
          {% elif tag[0] == 'I-I' %}
            <span style='color:#4169e1'>{{ tag[1] }}</span>
          {% elif tag[0] == 'I-O' %}
            <span style='color:#ff8c00'>{{ tag[1] }}</span>
          {% endif %}
        {% endfor %}
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
