<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EBM-NLP demo</title>
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity ="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous"/>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form method="POST", action="/predict">
      <input name="abstract" type="text"/>
      <input value="Submit" type="submit"/>
      </div>
    </form>
    </div>

    <p>
        <span style='color:#dc143c'>■</span> Patient
        <span style='color:#4169e1'>■</span> Intervention
        <span style='color:#ff8c00'>■</span> Outcome
    </p>
    <p>
    {% for tag in tagging %}
        {% if tag[0] == 'O' %}
        <span style='color:#999999'>{{ tag[1] }}</span>
        {% elif tag[0] == 'I-P' %}
        <span style='color:#dc143c'>{{ tag[1] }}</span>
        {% elif tag[0] == 'I-I' %}
        <span style='color:#4169e1'>{{ tag[1] }}</span>
        {% elif tag[0] == 'I-O' %}
        <span style='color:#ff8c00'>{{ tag[1] }}</span>
        {% endif %}
    {% endfor %}
    </p>
  </body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min. js"
 integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12. 9/umd/popper.min.js"
 integrity ="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
 crossorigin="anonymous"></script>
</html>
